@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Pacifico&display=swap");

:root {
  --ememphasis-color: #2b7fd8;
  --light-blue-color: #c2e7ff;
  --light-blue-hover: #b2d7ef;
  --dark-blue-text: #05223a;
  --bg-color: #f9fbfd;
  --bg-color-1: #f0f4f9;
  --text-color: #202124;
  --text-color-modal: #202124;
  --text-color-1: #000000b3;
  --tools-hover-color: #e8ebee;
  --white: #ffffff;
  --menu-shadow-color: #cacdd2;
  --shadow-color-1: #a1a4a8;
  --menu-text-color: #202124;
  --icons-color: #48494a;

  --base-font-size: 1.5rem;
  --grid-open: 2rem auto 8rem;
  --grid-closed: 2rem auto 0;

  &.dark-mode {
    --light-blue-color: #1e3a52;
    --light-blue-hover: #243a4b;
    --dark-blue-text: #7fbfdc;
    --bg-color: #2a2832;
    --bg-color-1: #383640;
    --text-color: #f5f5f9;
    --text-color-modal: #202124;
    --icons-color: #f5f5f9;
    --text-color-1: #ffffffff;
    --white: #e0e0e0;
    --menu-text-color: #202124;
    --tools-hover-color: #4a4a57;
    --menu-shadow-color: rgba(0, 0, 0, 0.5);
    --base-font-size: 1.5rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  font-weight: 500;
  font-size: var(--base-font-size);
  background-color: var(--bg-color);
}

h2 {
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}

.u-tools-hover {
  cursor: pointer;
  padding: 0.3rem 0.8rem;
  border-radius: 0.4rem;
  transition: all 0.2s;

  &:hover {
    background-color: var(--tools-hover-color);
    color: var(--white);
  }
}

@media (max-width: 762px) {
  :root {
    --grid-open: 2rem auto 5.5rem;
    --grid-closed: 2rem auto 0;
  }
}
